# --------------------------------------------------
# STT-DB Modulararbeit II
# --------------------------------------------------

# Vagrant
.vagrant/

# Environment / Secrets
.env
*.env
secrets/
*.key
*.pem

# SQL Server database / backup files
*.bak
*.trn
*.mdf
*.ndf
*.ldf

# Logs / temporary files
*.log
*.tmp
*.temp

# Visual Studio
.vs/
*.user
*.suo
*.rsuser

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux / editor swap files
*~
*.swp
*.swo

# Notepad++ backup files
*.bak~